<div class="data-form">
    <form action="/events/create" method="POST">
      <h2>Create a new event:</h2>

      <label for="inputTitle">Title</label>
      <input
        type="text"
        name="title"
        id="inputTitle"
        placeholder="Title"
        required
        autofocus
      />
      </br>

      <label for="inputDescription">Description</label>
      <input
        type="text"
        name="description"
        id="inputDescription"
        placeholder="Description"
        required
      />
      </br>

      <label for="inputLocation">Location</label>
      <input
        type="text"
        name="location"
        id="inputLocation"
        placeholder="Location"
        required
      />
      </br>

      <label for="inputStartDate">Start Date</label>
      <input
        type="date"
        name="startDate"
        id="inputStartDate"
        placeholder="Start Date"
        required
      />
      </br>

      <label for="inputEndDate">End Date</label>
      <input
        type="date"
        name="endDate"
        id="inputEndDate"
        placeholder="End Date"
        required
      />
      </br>

      <label for="inputIsOnLine">Online</label>
      <input
        type="boolean"
        name="isOnLine"
        id="inputIsOnLine"
        placeholder="Online?"
      />
      </br>

      <label for="inputRegistrationLink">Registration Link</label>
      <input
        type="text"
        name="registrationLink"
        id="inputRegistrationLink"
        placeholder="Registration Link"
      />
      </br>

      <label for="inputOrganizer">Organizer</label>
      <input
        type="mongoose.Schema.Types.ObjectId"
        name="organizer"
        id="inputOrganizer"
        placeholder="Organizer"
        required
      />
      </br>

      <button type="submit">Create</button>
      
    </form>
  </div>
  