<link rel="stylesheet" href="/css/style.css" />

<div class="main-body">

  <div class="body-image">

    <img id="Brandeis-Portrait" src="/images/BrandeisPortrait.png" alt="Brandeis Portrait" />

  </div>

  <div class="body-content">

    <h1>About Us</h1>

    <p>
        
      In today's digital world, it's easier than ever to stay connected. 
      Find Brandeis alumni who share a common identity, professional interest or student experience. 
      And take advantage of opportunities to expand your network, learn new skills and help students.
    
    </p>

  </div>
  
</div>