<link rel="stylesheet" href="/css/style.css" />

<div class="main-body">
  <div class="body-image">

    <img id="Brandeis-Portrait" src="/images/BrandeisPortrait.png" alt="Brandeis Portrait" />

  </div>

  <div class="body-content">

    <h1>Contact us</h1>

    <p>
        
        For general inquiries, email us at giving@brandeis.edu or call 781-736-4000 or 1-800-333-1948 (toll-free).
        To view advancement staff contact information, select a department from the following list. <br/>
        <br/>
        Mailing Adress: <br/>
        Brandeis University<br/>
        Institutional Advancement Division<br/>
        415 South Street, MS 126<br/>
        Waltham, MA 02453<br/>
    
    </p>

  </div>
</div>