<link rel="stylesheet" href="/css/style.css" />

<div class="main-body">
    <div class="body-image">

      <img id="Brandeis-Portrait" src="/images/BrandeisPortrait.png" alt="Brandeis Portrait" />

    </div>

    <div class="body-content">

      <h1>Event</h1>

      <p>
          
        Join us for engaging and informative events and connect with the Brandeis community. 
        Our events are a mix of virtual and in-person programs. 
        Please be sure to check the information under each event listing for specifics. 
        Online events are open to all unless otherwise specified.
      
      </p>

    </div>
</div>
