<link rel="stylesheet" href="/css/style.css" />

<div class="main-body">

  <div class="body-image">

  <img id="Brandeis-Portrait" src="/images/BrandeisPortrait.png" alt="Brandeis Portrait" />

  </div>

  <div class="body-content">

    <h1>We are Proud!</h1>

    <p>

      Brandeisians are remarkable.
      We're making a difference in the worlds of science, literature, 
      arts and entertainment, public policy and various other fields,
      and we're doing so in service to others, 
      boosting a culture of generosity at the same time that they are repairing the world.
      You're an integral part of our community. 
      Discover ways to enhance your relationship with Brandeis by staying informed, 
      attending an event and getting involved.
    
    </p>

  </div>

</div>
